
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}



h1 {
  font-size: 140%;
}
/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #222;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: white;
}
html { 
  overflow-y: scroll; /* always force a scrollbar in non-IE */
  }
body {
  color: #666;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  font-family: 'Open Sans', sans-serif;
  /*overflow-x: hidden;*/
  line-height: 1.5;
}


ol, ul {
  list-style: none;
}

p {
  font-size: 85%;
}


/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 70%; /* For at least Firefox */
  min-height: 70%;
  padding: 0;
  /*-webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);*/
  -webkit-box-shadow:  0 8px 15px rgba(0,0,0,.5);
          box-shadow:  0 8px 15px rgba(0,0,0,.5);
  margin-bottom: 25px;
}
#inicio.site-wrapper {
  height: 100%; /* For at least Firefox */
  min-height: 100%;
}



.back{
  /*height: 100%;  For at least Firefox 
  min-height: 100%;
  background-size: cover;
  background-color: white;*/
}

.full{
  height: 80%; /* For at least Firefox */
  min-height: 80%;

}


.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}

.item .fill .container {
  background-color:rgba(0,0,0,.3); 
  height: 100%;
  width:100%;
}




#myquienessomosCarrusel  {
  height: 87%;
  width:100%;
}


#myquienessomosCarrusel .item .fill .container {
  background-color:rgba(0,0,0,.2); 
  height: 100%;
  width:100%;
}



/*** PORTADAS ***/
.portada-maiz-amarillos {
  background: url('../images/cultivos/maiz2.jpg') center center no-repeat;
  background-size: cover;
}

.portada-maiz-blancos {
  background: url('../images/cultivos/maiz1.jpg') center center no-repeat;
  background-size: cover;
}

.portada-trigo {
  background: url('../images/cultivos/trigo2.jpg') center center no-repeat;
  background-size: cover;
}

.portada-avena {
  background: url('../images/cultivos/avena1.jpg') center center no-repeat;
  background-size: cover;
}

.portada-cartamo {
  background: url('../images/cultivos/cartamo2.jpg') center center no-repeat;
  background-size: cover;
}

.portada-contacto {

  background-color: white;
  background: url('../images/cultivos/avena2.jpg') center center no-repeat;
}

.portada-ubicacion {
  background-color: white;
}

.portada-Presencia {
  background: url('../images/presencia/img1.jpg') center center no-repeat rgba(255,255,255,0.5);
  background-size: cover;
}

.portada-galeria {
  background-color: white;
  background-size: cover;
}

.list-group-item{
  text-align: left;
}

.list-group-item.active{
  background-color:#999;
  border: none;
}

.list-group-item.active:hover{
  background-color:#666;
}

.traslucido {
  background:rgba(255, 255, 255, 0.8);
  height: 100%;
  display: table;
  height: 100%;
  width: 100%;
}

.contacto-etiqueta {

  background-color: #999;
  padding: 0;
  width:  100%;
  min-height: 60px;
  margin-bottom: 15px;
  font-size: 18px;

}

#go-top {
  position: fixed;
  bottom: 5%;
  right: 5%;
  z-index: 999;
  display: none;
}

#go-top a {
  padding: 5px 5px;
  background-color: orange;
  color:white;
  font-weight: bold;
  -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.5);
          box-shadow: 1px 2px 5px rgba(0,0,0,.5);

}

.franjaVerde{
  background-color: rgba(86,132,50,.3);
}

.contacto-etiqueta span {

  width:  80px;
  height: 60px;
  background-color: #fff;
  display: block;
  float: left;
  padding: 0;
  margin-right: 10px;
  font-size: 40px;

}

.contacto-etiqueta p {
  color:white;
  text-align:left;
  padding-top: 8px;
}
.contacto-etiqueta strong {
  color:black;
}

.contacto-etiqueta.Presencia{

  padding-top: 10px;
  font-size: 20px;
  margin: 0;

  height: auto;
  min-height: 60px;

}






.Presencia-etiqueta {
  background-color: #222;
  padding: 0;
  width:  100%;
  margin: 15px 0;
  font-size: 14px;
  height: 92px;
}

.Presencia-etiqueta p {
  color:white;
  padding: 8px;
  text-align: right;
}

.Presencia-etiqueta span {
  width:  80px;
  height: 92px;
  background-color: #fff;
  display: block;
  float: left;
  padding: 0;
  margin: 0;
  margin-right: 10px;
  font-size: 40px;
  padding-top: 12px;
}

.Presencia-etiqueta strong {
  color:white;
}

.Presencia-etiqueta.Presencia{
  padding-top: 10px;
  font-size: 20px;
  margin: 0;
}





h2.incrustado{
  font-size: 40px;
  line-height: 40px;
  padding: 0;
  margin:0;
  position: absolute;
  bottom:50px;
  color:white;
  font-style: italic;
  z-index:999;
  width:100%;
}

span.icono-mail {
  background: url('../images/contacto/mail.png') #fff center center no-repeat;
  background-size: 80px 60px;
}

span.icono-map {
  background: url('../images/contacto/map.png') #fff center center no-repeat;
  background-size: 80px 60px;
}

span.icono-phone {
  background: url('../images/contacto/phone.png') #fff center center no-repeat;
  background-size: 80px 60px;
}






.cover-container {
  margin-right: auto;
  margin-left: auto;
}

.noPaddingTop {
  margin-top: 0;
  padding-top: 0;
}

.paddingTop-30{
  padding-top: 30px;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}


/*
 * Header
 */
.masthead-nav {
}

.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  color: #555;
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}


.mastfoot {
  background-color: rgba(86,132,50,.9);
  padding: 20px;
  color: white;
  width: 100%;
  margin-bottom:0;
}

.mastfoot a {
  color: white;
}



.carousel,.item,.active{height:100%;}
.carousel-inner{height:100%;}
.fill{width:100%;height:100%;background-position:center;background-size:cover;}

/* faster sliding speed */
.carousel-inner > .item {
    -webkit-transition: 0.3s ease-in-out left;
    -moz-transition: 0.3s ease-in-out left;
    -o-transition: 0.3s ease-in-out left;
    transition: 0.3s ease-in-out left;
}

.carousel-control {
    font-size: 60px;
}



#opciones {
  position: absolute;
  bottom: 0px;
  z-index: 999;
  width: 100%;

}

#opciones img {
  -webkit-box-shadow: 1px 3px 10px rgba(0,0,0,.9);
          box-shadow: 1px 3px 10px rgba(0,0,0,.9);    
  margin: 0 auto;
}

#opciones > div {
  display: block;
  margin: 0 auto;
  padding: 0;
}

#opciones h3 {
  /*position: absolute;
  bottom: 0;
  padding-right: 3px;*/
  right: 1%;
  width: 100w%;
  z-index: 999;
  font-size: 28px;
  font-style: italic;
  font-weight: bold;
  color:white;
}


/* keep full widget on smaller screens */
@media (max-width: 767px) { 
  body {
    padding-left: 0;
    padding-right: 0;
  }
}

#myCarousel .etiqueta{ 
  position: absolute;
  bottom: 31%;
  left: 0;
  width: 100%;
  text-align: center;
  color: white;
  font-weight: 700;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 1);
}


#myCarousel h1{ 
  width: 80%;
  text-align: center;
}

#myCarousel .etiqueta.down{ 
  position: absolute;
  top: 34%;
  margin-top:8%;
}


#myCarousel .etiqueta span{ 
  font-size: 48px;
  color: orange;
  padding: 30px;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 1);
}
#myCarousel .etiqueta span.txt-white{ 
  font-size: 52px;
  color: white;
}


#myquienessomosCarrusel .etiqueta{ 
  position: absolute;
  top:20%;
  padding: 0 20%;
}

#myquienessomosCarrusel .etiqueta strong{ 
  font-size: 38px;
  color: orange;
  padding: 20px;
}

#myquienessomosCarrusel .etiquetaDown{ 
  position: absolute;
  bottom:15%;
  padding: 0 20%;
}

#myquienessomosCarrusel .etiquetaDown strong{ 
  font-size: 38px;
  color: orange;
  padding: 20px;
}




#myquienessomosCarrusel .carousel-indicators {
  text-align: center;
  bottom: 0;
  top: 7%;
  color:white;
}


#myquienessomosCarrusel .carousel-indicators li{
  background-color: #333;
  width: 80px;
  border: none;
  height: 40px;
  margin-right: 10px;
  padding: 8px 12px;
  text-indent: 0px;
  border-radius: 0;
  color:white;
}

#myquienessomosCarrusel .carousel-indicators li.active{
  background-color: #666;
}

p.lead{
  color:white;
  font-size: 30px
}

/* Verde color:rgb(86,132,50);*/

h1.categoria {
  text-transform: uppercase;
  font-style: italic;
  color: orange;
  font-size: 58px;
  font-weight: bold;
  padding: 10px 0;
  background-color: #666;
}



/***CULTIVOS***/
h2.semilla-nombre{
  font-size: 48px;
  font-weight: bold;
  color:white;
}


  .logoCenter {
  position: absolute;
  top: 12%;
  left: 0;
  width: 100%;
  text-align: center;
  }


  .logoCenter img {
    display: block;
    margin: 0 auto;
  }




.featurette-heading {
  text-align: left;
}

.texto-justificado {
  text-align: justify;
}




.bg-gris {
  color:black;
  text-align: center;
  display: block;
  min-height: 130px;
  vertical-align: middle;
  padding-top: 10px;
}

.bg-gris.uno {
  background-color: #eee;
}

.bg-gris.dos {
  background-color: #ddd;
}


.bg-verde {
  background-color:rgb(86,132,50);
}


p.naranja {
  color: orange;
  font-style: italic;
  font-weight: bold;
}

p.verde {
  color: rgb(86,132,50);
  font-style: italic;
  font-weight: bold;
}




.cultivo-item {

  padding: 40px 0;
  margin-bottom: 60px;
  border-bottom: 3px solid #999;

}


h1.portada-contenido {

  font-weight: bold;
  text-align: center;
  font-size: 68px;
  color:white;
  font-style: italic; 
  margin-top: 10%;

}




.parallax{
  background-attachment: fixed;
}


#navbar {
  z-index: 9999;
}



/*------------------------------------------------- */

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}


/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}


/*
 * Footer
 */

.mastfoot {

  
}


/*
 * Affix and center
 */

 .gris{
    background-color: #333;
    padding: 0 12px;
 }

 .txt-black{
  color:white;
  font-size: 110%;
  font-weight: bold;

  text-shadow: 0 1px 5px rgba(0,0,0,.8);
 }



.txt-white {
  color:white;
}


.franja{
  background-color: orange;
  padding: 0px auto;
  text-align: center;
  border: 2px solid white;
  color:white;

  -webkit-box-shadow:  0 8px 15px rgba(0,0,0,.5);
          box-shadow:  0 8px 15px rgba(0,0,0,.5);

}

.franja h1{
  font-size: 46px;
  /*line-height: 46px;*/
  font-weight: bold;
  padding: 10px 0;
}

.franja a{
  font-size: 14px;
  color:black;
  margin: 0;
  margin-left: 40px;
  padding: 0;

}

.franja span{
  font-size: 16px;
  font-style: italic;
}

.franjaPadding{
  padding-top: 50px

 }

.innerMiddle{
  display: table-cell;
  vertical-align: middle;
}



.paddingTopBottom {
  padding:20px auto;
}

.marginTopBottom {
  margin:30px auto;
}


ul.Presencia-list{
  list-style-type: none;
  width: 100%;
  border-bottom: 3px solid darkGreen;
  padding: 0;
  margin: 0;
  font-size: 20px;
}

ul.Presencia-list li.li-header{
  background-color: #999;
  color:white;
  text-align: center;
}

ul.Presencia-list li{
  background-color: rgb(223,234,204);
  color:gray;
  text-align: left;
  padding: 7px 17px;

}







#galeria .opcion i {

  font-size: small;
  color: #999;
}


/*** Tabs multilevel ***/

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
}




/*** NAV TABS ***/
.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
    background-color: #333;
}

.nav-pills > li > a {

    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}





@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: relative;
    top: 0;
    z-index: 999;
    background-color: none;
  }

  .mastfoot {
    position: relative;
    bottom: 0;
  }

  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }

  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }

  .site-wrapper-inner.portada-presencia{
    vertical-align: top;
  }

  #myCarousel .carousel-indicators {
    top: 60px;
  }

}


@media (min-width: 992px) {
  .masthead,
  .cover-container {
    width: 700px;
  }

}




/*------------------------------------------------- */

@media (max-width: 568px) {



  h1.portada-contenido {
    font-size: 38px;
    margin-top: 10%;
  }

  .franja h1{
    font-size: 36px;
    line-height: 46px;
    font-weight: bold;
  }

  h2.incrustado{
    margin-top:-50px;
    font-size: 30px;
    line-height: 30px;

  }

  h2.semilla-nombre{
    font-size: 38px;

  }

  #myCarousel .etiqueta { 
    font-size: 26px;
    padding: 20px;
  }

  #myCarousel .etiqueta span{ 
    font-size: 28px;
    /*padding: 24px;*/
  }

  #myCarrusel .etiqueta strong{ 
    font-size: 24px;
    padding: 18px;
  }


  #myquienessomosCarrusel .etiquetaDown { 
    font-size: 22px;
    padding: 18px;
    margin-top: 90% ;
    line-height: 22px;
  }

  #myquienessomosCarrusel .etiqueta { 
    font-size: 22px;
    padding: 18px;  
    margin:22% auto;
  }



  #myquienessomosCarrusel .etiquetaDown strong{ 
    font-size: 24px;
    padding: 18px;
  }

  #myquienessomosCarrusel .etiqueta strong{ 
    font-size: 24px;
    padding: 18px;
  }


}


@media (max-height: 800px) {  

  #opciones {
    display: none;
  }

  .logoCenter {
    display: none;
  }
  
  .logoCenter img {
    display: none;
  }

}



.row {
  margin: 25px 0;
}




/* Nav
*****************************************************************/

nav#primary {
  z-index: 9999;
  position: fixed;
  top: 50%;
  right: 16px;
  margin-top: -40px;
}
nav#primary li {
  position: relative;
  height: 20px;
}
nav#primary a {
  display: block;
  width: 20px;
  height: 20px;
  text-indent: -9999px;
  background: transparent url('../images/nav-dot.png') 4px 4px no-repeat;
}
nav#primary a:hover, nav#primary a.active {
  background: transparent url('../images/nav-dot.png') 4px -16px no-repeat;
}
nav#primary h1 {
  position: absolute;
  right: 22px;
  top: -7px;
  display: none;
  padding: 4px 20px 4px 7px;;
  color: #fff;
  white-space: nowrap;
  background: transparent url('../images/nav-arrow.png') 100% 50% no-repeat;
  font-size: 16px;
  margin: 0;
  }


  a.prev,
  a.next {
    display: block;
    width: 15px;
    height: 11px;
    text-indent: -9999px;
    }
  a.prev {
    margin: 0 auto 5px auto;
    background: transparent url('../img/scroll-arrow-up.png') 0 0 no-repeat;
    }
    a.prev:hover {
      background: transparent url('../img/scroll-arrow-up.png') 0 -11px no-repeat;
      }
  a.next {
    margin: 5px auto 0 auto;
    background: transparent url('../img/scroll-arrow-down.png') -1px 0 no-repeat;
    }
    a.next:hover {
      background: transparent url('../img/scroll-arrow-down.png') -1px -11px no-repeat;
      }
