
/*** PORTADAS ***/
.portada-maiz-amarillos {
  background: url('../images/cultivos/maiz2.jpg') center center no-repeat;
  background-size: cover;
}

.portada-maiz-blancos {
  background: url('../images/cultivos/maiz1.jpg') center center no-repeat;
  background-size: cover;
}

.portada-trigo {
  background: url('../images/cultivos/trigo2.jpg') center center no-repeat;
  background-size: cover;
}

.portada-avena {
  background: url('../images/cultivos/avena1.jpg') center center no-repeat;
  background-size: cover;
}

.portada-cartamo {
  background: url('../images/cultivos/cartamo2.jpg') center center no-repeat;
  background-size: cover;
}

.portada-contacto {
  background: url('../images/contacto/img1.jpg') center center no-repeat;
  background-size: cover;
}

.portada-ubicacion {
  background-color:#fff;
}

.portada-prescencia {
  background: url('../images/prescencia/img1.jpg') center center no-repeat rgba(255,255,255,0.5);
  background-size: cover;
}

.portada-galeria {
  background: url('../images/cultivos/avena2.jpg') center center no-repeat rgba(255,255,255,0.5);
  background-size: cover;
}
